{% extends "setup.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Group Details
{% endblock %}

{% block setup %}
<div class="gpd gpd{{group.id}}" style="display: flex;">
    <div class="gpd_header">
        <a href="{% url 'setup_groups' slug %}"><button class="bk" type="button"><b>Back</b> &rsaquo; Groups</button></a>
        <h2>{{group.name}}</h2>
        <a href="{% url 'group_edit' group.id slug %}"><button type="button" class="np">Edit</button></a>
        <a href="{% url 'staff_add_group' group.id slug %}"><button type="button" class="np">New Staff</button></a>
    </div>
    <form action="{% url 'submit_inputs' slug %}" id="group_detail_form" method="post">
        {% csrf_token %}
        <div class="mid" style="display: none;">
            <div>
                <label for="action">Action</label>
                <div style="display: flex; flex-direction: row;">
                    <select name="form_meta" id="mid_sel" required onchange="toggleGroupSelect(this.value, 'group_id')">
                        <option value="del_multi_staff">Delete Staff</option>
                        <option value="restore_multi_staff">Restore Staff</option>
                        <option value="change_group">Move to Group</option>
                    </select>
                    <select name="group_id" id="group_id" class="mid_sel" disabled style="display: none; margin-left: 5px;">
                        {% for g in groups %}
                        <option value="{{g.id}}">
                            {{g.name}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
            <div>
                <input type="checkbox" class="multi" id="multi"
                onchange="selAllBoxes(this.checked,'staff_item_ch')"
                >
                <label for="multi">Select All</label>
            </div>
            
            <span>
                <span class="count_selected">0</span> of
                <span class="count_total">
                    {% for st, stv in staff_dict.items %}
                    {% if st == group.id %}
                    {{stv}}
                    {% endif %}
                    {% endfor %}
                </span> selected
            </span>
            <div>
                <button type="submit" class="lvtsve">Save</button>
                <button type="button" class="lvtdsd"
                 onclick="
                    resetForm('group_detail_form'),
                    resetCounter('count_selected'),
                    hideMid('mid'),
                    resetAndHideGroupSelect('group_id')
                 ">
                 &times; Discard</button>
            </div>
        </div>
        <div class="group_staff_list">
            <p class="ava">Group leader: {% if group.leader and group.leader.first_name %}{{group.leader.first_name}} {{group.leader.last_name}}{% else %}Unknown{% endif %}</p>
            <p class="ava">Staff in this group:</p>
            <div class="staff_list">
                {% with staff_list=groups_list|get_item:group %}
                    {% if staff_list %}
                        {% for staff in staff_list %}
                            {% if staff.is_active %}
                            <div class="staff_item staff_item_{{group.id}}'">
                                <input type="checkbox"
                                    value="{{staff.id}}"
                                    name="staff_ids"
                                    class="staff_item_ch"
                                    id="staff{{staff.id}}"
                                    onchange="
                                    selectCheckBox(this.className, 'multi'),
                                    displayMid('mid'), 
                                    updateCounter('count_selected', this.className)"
                                    >
                                <label for="staff{{staff.id}}" class="staff_label">{{staff.first_name}} {{staff.last_name}}</label>
                                <a href="{% url 'staff_edit' staff.id slug %}"><button type="button">&#9998;</button></a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No staff in this group.</p>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </form>

    <div class="inactive_staff">
        <div class="in_header in_header{{group.id}}">
            <button class="rotb_staff rotb_staff{{group.id}}" type="button" style="transform: rotate(-90deg); border-radius: 50%;"
            onclick="show1('staff_in_body'), rotateMe('.rotb_staff{{group.id}}')"
            >&#10094;</button>
            <p onclick="show1('staff_in_body{{group.id}}'), rotateMe('.rotb_staff{{group.id}}')">Inactive Staff (deleted)</p>
        </div>
        <div class="staff_in_body staff_in_body{{group.id}}">
            <div class="staff_list">
                {% with staff_list=groups_list|get_item:group %}
                    {% if staff_list %}
                        {% for staff in staff_list %}
                            {% if not staff.is_active %}
                            <form method="post" action="{% url 'submit_inputs' slug %}" class="staff_item staff_item_{{group.id}}'">
                                {% csrf_token %}
                                <input type="hidden" name="form_meta" value="restore_staff" id="">
                                <input type="hidden"
                                    value="{{staff.id}}"
                                    name="staff_id"
                                    class="staff_item_ch"
                                    id="staff{{staff.id}}"
                                    >
                                <label for="staff{{staff.id}}" class="staff_label">{{staff.first_name}} {{staff.last_name}}</label>
                                <button type="submit">Restore</button>
                            </form>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <p>No staff in this group.</p>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
</div>
{% endblock %}