{% extends 'setup.html' %}
{% load static %}
{% block title %}
    Add Gender
{% endblock %}

{% block setup %}
<div class="gender_form_add" style="display: flex;">
    <div class="sf10">
        <div class="sf10h">
            <a href="{% url 'setup_genders' slug %}"><button type="button"><b>Back</b> &rsaquo; Genders</button></a>
            <h2>New Gender</h2>
        </div>
        <p>Fill the form below to add a new gender</p>
        <img src="{% static 'images/gender.png' %}" width="300px" alt="">
    </div>
    <form class="sf12" action="{% url 'submit_inputs' slug %}" method="post">
        <input type="hidden" name="form_meta" value="add_gender">
        {% csrf_token %}
        <div class="sf45">
            <div class="fld33">
                <label for="gender_name_add">Name</label>
                <input type="text" name="name" id="gender_name_add" required>
            </div>
            <div class="fld33">
                <label for="gender_pronoun_add">Pronoun</label>
                <input type="text" name="pronoun" id="gender_pronoun_add" required>
            </div>
        </div>
        <div class="bt23">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}