{% extends 'setup.html' %}
{% load static %}
{% block title %}
    Edit Level
{% endblock %}

{% block content %}
<div class="level_form_edit level_form_edit{{lvl.id}}" style="display: none;">
    <div class="sf10">
        <div class="sf10h">
            <button type="button" onclick="mySwitcher('.level_form_edit{{lvl.id}}', '.levels')">
                <b>Back</b> &rsaquo; Levels
            </button>
            <h2>Edit Level</h2>
        </div>
        <p>Edit the details of this level below.</p>
        <img src="{% static 'images/cat1.png' %}" style="border-radius: 50%; border: #ddd 2px dashed;" width="300px" alt="">
    </div>
    <form class="sf12" action="" method="post">
        <input type="hidden" name="form_meta" value="edit_level">
        <input type="hidden" name="level_id" value="{{lvl.id}}">
        {% csrf_token %}
        <div class="sf45">
            <div class="fld33">
                <label for="level_name_edit{{lvl.id}}">Name</label>
                <input type="text" name="name" id="level_name_edit{{lvl.id}}" value="{{lvl.name}}" required>
            </div>
            <div class="fld33">
                <label for="level_rank_edit{{lvl.id}}">Level</label>
                <input type="number" name="level" id="level_rank_edit{{lvl.id}}" value="{{lvl.level}}" required>
            </div>
        </div>
        <div class="bt23">
            <button type="submit">Save</button>
        </div>
    </form>
</div>
{% endblock %}