{% extends 'setup.html' %}
{% load static %}

{% load static custom_filters %}
{% block title %}
    Setup Levels - GCPS Leave System
{% endblock %}

{% block setup %}
<div class="levels" style="display: flex;">
    <div class="levels_header">
        <h3>Levels</h3>
        <a href="{% url 'level_add' %}"><button type="button">New Level</button></a>
    </div>

    <div class="levels_list" style="margin-bottom: 20px;">
        {% for level in all_levels %}
        {% if level.is_active %}
        <div class="level-card">
            <div class="level-content">
            <h3>{{ level.name }}</h3>
            <p><strong>Level Rank:</strong> {{ level.level }}</p>
            </div>
            <div class="level-actions">
            <a href="{% url 'level_edit' level.id %}"><button type="button">Edit</button></a>
            <form action="{% url 'submit_inputs' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_meta" value="del_level">
                <input type="hidden" name="level_id" value="{{ level.id }}">
                <button type="submit" class="delete-btn">Delete</button>
            </form>
            </div>
        </div>
        {% endif %}
        {% empty %}
        <div class="no-levels">No levels found.</div>
        {% endfor %}
    </div>

    <div class="inactive_levels">
        <div class="in_header">
        <button class="rot_level" type="button" style="transform: rotate(-90deg); border-radius: 50%;"
            onclick="show1('in_body_level'), rotateMe('.rot_level')"
        >&#10094;</button>
        <p onclick="show1('in_body_level'), rotateMe('.rot_level')">Inactive Levels (deleted)</p>
        </div>
        <div class="in_body_level">
        {% for level in i_levels %}
            <div class="level-card-i">
            <div class="level-content">
                <h3>{{ level.name }}</h3>
                <p><strong>Level Rank:</strong> {{ level.level }}</p>
            </div>
            <div class="level-actions">
                <form action="{% url 'submit_inputs' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="form_meta" value="res_level">
                <input type="hidden" name="level_id" value="{{ level.id }}">
                <button type="submit" class="delete-btn">Restore</button>
                </form>
            </div>
            </div>
        {% empty %}
            <div class="no-levels">No inactive levels found.</div>
        {% endfor %}
        </div>
    </div>
    <div class="pagination-bar" data-section="levels"></div>
</div>
{% endblock %}