{% extends 'main.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="staff_main_container">
        <div class="top1">
            <div>
                <h1>Welcome</h1>
                <h4>Applicant: {{ user_name }}</h4>
            </div>
            <a href="{% url 'logout1' slug %}" class="logout-button">
                <img src="{% static 'images/power-button.png' %}" width="20px" height="20px" alt="logout" title="Log out">
            </a>
        </div>
        
        <div class="grid_main">
            {% if resume_obj %}
            <a href="{% url 'leaveComplete' resume_obj.id slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/job-seeker.png' %}" height="100px" width="100px" alt="icon">
                    <p>Confirm Resumption Of Duty</p>
                </div>
            </a>
            {% endif %}

            <a href="{% url 'leave_request' slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/ask.png' %}" height="100px" width="100px" alt="icon">
                    <p>Request for leave</p>
                </div>
            </a>
            
            {% if r_ack %}
            <a href="{% url 'relieve_ack' r_ack.id slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/like.png' %}" height="100px" width="100px" alt="">
                    <p>Relieve assignments ({{count}})</p>
                </div>
            </a>
           {% endif %}
            
           {% if self_ack %}
            <a href="{% url 'confirm_leave_view' self_ack.id slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/checkmark.png' %}"  height="100px" width="100px" alt="">
                    <p>Leave Acknowledgement</p>
                </div>
            </a>
            {% endif %}

            {% if is_approver %}
            <a href="{% url 'leave_requests' slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/qtions.png' %}"  height="100px" width="100px" alt="">
                    <p>Leave Requests</p>
                </div>
            </a>
            {% endif %}

            <a href="{% url 'staff_on_leave' slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/calf.png' %}"  height="100px" width="100px" alt="">
                    <p>On Leave</p>
                </div>
            </a>
            
            {% if leaves_count > 0 %}
            <a href="{% url 'leave_history' slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/past.png' %}"  height="100px" width="100px" alt="">
                    <p>History</p>
                </div>
            </a>
            {% endif %}

            {% if on_leave %}
            <a href="{% url 'cancel_leave' on_leave.id slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/cncl.gif' %}"  height="100px" width="100px" alt="">
                    <p>Cancel Leave</p>
                </div>
            </a>
            {% endif %}

            <a href="{% url 'profile' slug %}">
                <div class="grid_item">
                    <img src="{% static 'images/user.png' %}"  height="100px" width="100px" alt="">
                    <p>Profile</p>
                </div>
            </a>
        </div>
    </div>
{% endblock %}