{% extends 'main.html' %}
{% load static %}

{% block title %}
    Leave Request
{% endblock %}

{% block content %}
    <script>
        window.leaveOptions = {{ allowed_leave_types_dict|safe }};
        window.staffLeaveData = {{ staff_leave_data|safe }};
        window.onload = function() {
            const select = document.getElementById("leave_type_id");
            if (select) {
            loadLeave(select.value, window.leaveOptions, window.staffLeaveData);
            }
        };
        const all_holidays = JSON.parse('{{ holiday_json|safe }}');
    </script>

    

    <div class="leave-request-container">
        <div class="leave-request-header">
            <h1>Request For Leave</h1>
            <label for="leave_type_id">Please choose the type of leave that you want to apply for</label>
            <select name="leave_type_id" id="leave_type_id"
            onchange="loadLeave(value, {{allowed_leave_types_dict|safe}}, {{staff_leave_data|safe}})">
            {% for leave_type in allowed_leave_types %}
                <option value="{{ leave_type.id }}">{{ leave_type.name }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="leave-request-form">
            <form action="" class="request-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="leave_type" id="leave_type">

            <div class="leave-1">
                <div class="leave1-heading">
                    <h4 class="leave1-header">Annual Leave</h4>
                    <h5>Applicant: {{ user_name }}</h5>
                </div>
                <div class="leave1-details">
                    <p>Days : <span class="lvt_days"></span></p>
                    <p>Days taken: <span class="lvt_taken"></span></p>
                    <p>Days remaining: <span class="lvt_rem"></span></p>
                </div>
            </div>

            <div class="req-form">
                <p>Request for leave by filling out the form below.</p>

                <!-- <div class="f1 optional" id="dis-container" style="display: none;">
                    <label for="disembarkation">Disembarkation Date</label>
                    <input type="date" name="disembarkation" id="disembarkation">
                </div> -->

                <div class="f1 optional fileinputcontainer" id="m-due-date" style="display: none;">
                    <label for="due-date">Date</label>
                    <input type="date" class="optionalInput" name="due-date" id="due-date" required>
                </div>

                <div class="f1">
                    <label for="days_requested">Days requested</label>
                    <select name="days_requested" id="days_requested" required onchange="dateReminder(start_date.value, value)">
                        
                    </select>
                </div>

                <div class="f1 fileinputcontainer" id="start_date_container">
                    <label for="start_date">Start date</label>
                    <input type="date" name="start_date" id="start_date" required onchange="calcEndDate(value, days_requested.value)">
                </div>

                <div class="f1" id="end_date_container">
                    <p id="end_date"></p>
                    <div id="end_date_div" style="display: none;">
                        <label for="end_date">End date</label>
                        <input type="date" name="end_date" id="end_date_input" required>
                    </div>
                </div>

                <div class="f1" id="resumption_date_container" style="display: none;">
                    <label for="resumption_date">Resumption date</label>
                    <input type="date" name="resumption_date" id="resumption_date" required>
                </div>

                <div class="f1">
                    <label for="relieving_officer">Relieving Officer</label>
                    <select name="relieving_officer"  id="relieving_officer" required>
                        <option value="" disabled selected>-- Select Officer to temporarily relieve you of your duties --</option>
                        {% for staff in officers %}
                        <option value="{{ staff.id }}">{{ staff.first_name }} {{ staff.last_name }} {{ staff.other_names }} ({{ staff.seniority.name }})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="f1 optional fileinputcontainer" id="med-note-container" style="display: none;">
                    <label for="med_note">Medical note</label>
                    <input type="file"  class="optionalInput" placeholder="Select medical note" name="med_note" id="med-note" accept=".pdf,.docx,.txt" required>
                </div>

                <div class="f1 optional" id="institution-container" style="display: none;">
                    <label for="institution">Institution Name</label>
                    <input type="text" class="optionalInput" name="institution" id="institution" required>
                </div>

                <div class="f1 optional" id="course-container" style="display: none;">
                    <label for="course">Course Of Study</label>
                    <input type="text" class="optionalInput" name="course" id="course" required>
                </div>

                <div class="f1 optional fileinputcontainer" id="letter-container" style="display: none;">
                    <label for="letter">Admission Letter</label>
                    <input type="file"  class="optionalInput" name="letter" id="letter" accept=".pdf,.docx,.txt" required>
                </div>

                <div class="f1">
                    <label for="reason">Reason</label>
                    <textarea name="reason" id="reason" rows="5"></textarea>
                </div>
            </div>

            <div class="l-button-wrapper">
                <button type="submit">Submit</button>
            </div>
            </form>
            
        </div>
    </div>
  
{% endblock %}