{% extends 'main.html' %}
{% load static %}

{% block title %}
    Staff on leave
{% endblock %}

{% block content %}
<div class="users_on_leave">
    <div class="on_leave_header">
        <a href="{% url 'dashboard' slug %}">
            <img src="{% static 'images/back.png' %}" width="25" height="25" alt="Back" class="back-image">
        </a>
        <h1>Staff On Leave</h1>
    </div>

    <div class="main_content">
        {% if dept_group %}
        {% for group, leaves in dept_group.items %}
        <div class="group_section">
            <h2>{{ group.name }}</h2>
            <div class="leave_card_grid">
                {% for leave in leaves %}
                <div class="leave_card fade-in">
                    <h3>{{ leave.name }}</h3>
                    <p><strong>Staff:</strong> {{ leave.request.applicant.get_full_name }}</p>
                    <p><strong>Leave Type:</strong> {{ leave.request.type.name }}</p>
                    <p><strong>Days Given:</strong> {{ leave.request.days_approved|default:leave.request.days_requested }}</p>
                    <p><strong>Resumption Date:</strong> {{ leave.request.return_date }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="no-leave-msg">No staff are currently on leave.</p>
        {% endif %}
    </div>
</div>

{% endblock %}