{% extends 'main.html' %}

{% block title %}
    Password Reset
{% endblock %}

{% block content %}
    <div class="password_reset_page" id="password_reset_page">
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {% if step == 1 %}
            <div class="step_1">
                <h1>Reset Password</h1>
                <p>To reset your password, first enter your email address in the field provided below.</p>
                <p>You will receive a verification code</p>
                <label for="email" class="email-label">email: </label>
                <input type="email" name="email" id="email" autofocus required>
            </div>
            {% elif step == 2 %}
            <div class="step_3">
                <p>A verification code has been sent to: </p>
                <p class="emailshow">{{email}}</p>
                <p id = "code_instructions">Please enter the verification code below</p>
                <label for="verification_code" id="code_label">Verification Code: </label><br>
                <input type="text" name="verification_code" id="verification_code" required autofocus>
                <div id="countdown-wrapper">
                    <p>Verification code expires in <span id="minute">1</span> : <span id="seconds">59</span>
                    </p>
                </div>
                <a href="{% url 'password_reset' %}" style="display: none;" id="link_reload" onclick="storeValues(usernameOriginal.value, emailOriginal.value, step.value, random_number.value)">request a new code</a>
            </div>   
            {% elif step == 3 %}
                <div class="step_4">
                    <p>Please enter the new password</p>
                    <label for="password1">Password</label>
                    <input type="password" name="password1" id="password1" onchange="comparePasswords(value, password2.value)" required autofocus>
                    <label for="password2">Confirm password</label>
                    <input type="password" name="password2" id="password2" onchange="comparePasswords(password1.value, value)" required>
                    <div id="passwordError">
                    </div>
                    <div class="display_password">
                        <input type="checkbox" name="showPassword" id="showPassword" value="true" onchange="showMePassword(value, password1.id, password2.id)">
                        <label for="showPassword">Show Password</label>
                    </div>
                </div>
            {% endif %}
            <input type="hidden" name="usernameOriginal" value="{{username}}" id="usernameOriginal">
            <input type="hidden" name="emailOriginal" value="{{email}}" id="emailOriginal">
            <input type="hidden" name="step" id="step" value="{{step}}">
            <input type="hidden" name="random_number" id="random_number" value="{{random_number}}">
            <div class="submit-button-wrapper">
                <button type="submit" value="Submit" id="submit-button">{% if step == 1 or step == 2 or step == 3 %}Continue{% else %}Submit{% endif %}</button>
            </div>
        </form>
    </div>
{% endblock %}