{% extends 'setup.html' %}
{% load static %}
{% block title %}
    Edit Leave Type - GCPS Leave System
{% endblock %}

{% block setup %}
    <div class="lvt_form_edit lvt_form_edit{{leave.id}}" style="display: flex;">
        <div class="lvt_form1">
            <div class="lvt_formh">
                <a href="{% url 'setup_leave_types' slug %}"><button type="button"><b>Back</b> &rsaquo; All Leave Types</button></a>
                <h2>Modify {{leave.name}} Leave</h2>
            </div>
            <p>Please update the fields below to modify this leave type</p>
            <img src="{% static 'images/leaf.png' %}" width="500px" alt="">
        </div>

        <div class="lvt_form26">
            <form action="{% url 'submit_inputs' slug %}" method="post" class="lvt_form26d">
                {% csrf_token %}
                <input type="hidden" name="form_meta" value="edit_lvt">
                <input type="hidden" name="leave_id" value="{{leave.id}}" id="">

                <div class="lvt476">
                    <label for="lvt_name{{leave.id}}">Name</label>
                    <input type="text" name="name" value="{{leave.name}}" id="lvt_name{{leave.id}}">
                </div>

                <div class="lvt476">
                    <label for="lvt_code{{leave.id}}">Leave Code</label>
                    <input type="text" name="code" value="{{leave.code}}" id="lvt_code{{leave.id}}">
                </div>

                <div class="lvt476">
                    <label for="lvt_days{{leave.id}}">Maximum Days Allowed</label>
                    <input type="number" name="days" value="{{leave.days}}" id="lvt_days{{leave.id}}">
                </div>

                <div class="lvt476">
                    <label for="seniority{{leave.id}}">Who can apply (seniority)</label>
                    <select name="seniority" id="seniority{{leave.id}}">
                        {% for sen in seniority %}
                        <option value="{{sen.id}}" {% if leave.seniority.id == sen.id %}selected{% endif %}>{{sen.name}} (Level {{sen.rank}})</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="lvt476">
                    <label for="reset_period{{leave.id}}">Reset Period</label>
                    <select name="reset_period" id="reset_period{{leave.id}}">
                        <option value="YEARLY" {% if leave.reset_period == "YEARLY" %}selected{% endif %}>Yearly</option>
                        <option value="SEMI ANNUALLY" {% if leave.reset_period == "SEMI ANNUALLY" %}selected{% endif %}>Semi Annually</option>
                        <option value="QUARTERLY" {% if leave.reset_period == "QUARTERLY" %}selected{% endif %}>Quarterly (3 months)</option>
                        <option value="MONTHLY" {% if leave.reset_period == "MONTHLY" %}selected{% endif %}>Monthly</option>
                        <option value="NONE" {% if leave.reset_period == "NONE" %}selected{% endif %}>No Reset</option>
                    </select>
                </div>

                <div class="lvt476">
                    <label for="multiple{{leave.id}}">Allow Multiple Applications?</label>
                    <select name="allow_multiple_applications" id="multiple{{leave.id}}">
                        <option value="True" {% if leave.allow_multiple_applications %}selected{% endif %}>Yes</option>
                        <option value="False" {% if not leave.allow_multiple_applications %}selected{% endif %}>No</option>
                    </select>
                </div>

                <div class="lvt476">
                    <label for="paid_leave{{leave.id}}">Is This a Paid Leave?</label>
                    <select name="paid_leave" id="paid_leave{{leave.id}}">
                        <option value="True" {% if leave.paid_leave %}selected{% endif %}>Yes</option>
                        <option value="False" {% if not leave.paid_leave %}selected{% endif %}>No</option>
                    </select>
                </div>

                <div class="lvt476">
                    <label for="eligibility{{leave.id}}">Eligibility Requirements</label>
                    <textarea name="eligibility" id="eligibility{{leave.id}}" rows="3">{{leave.eligibility}}</textarea>
                </div>

                <!-- <div class="lvt476">
                    <label for="requires_document{{leave.id}}">Requires Document Upload?</label>
                    <select name="requires_document" id="requires_document{{leave.id}}">
                        <option value="True" {% if leave.requires_document %}selected{% endif %}>Yes</option>
                        <option value="False" {% if not leave.requires_document %}selected{% endif %}>No</option>
                    </select>
                </div> -->

                <div class="lvt476">
                    <p>Inputs this leave type accepts:</p>
                    <div><input type="checkbox" id="i_date" name="i_date" value="True" {% if leave.includes_date_of_occurence %}checked{% endif %}> <label for="i_date">Date of occurrence</label></div>
                    <div><input type="checkbox" id="i_institution" name="i_institution" value="True" {% if leave.includes_institution %}checked{% endif %}> <label for="i_institution">Institution name</label></div>
                    <div><input type="checkbox" id="i_course" name="i_course" value="True" {% if leave.includes_course %}checked{% endif %}> <label for="i_course">Course name</label></div>
                    <div><input type="checkbox" id="i_note" name="i_note" value="True" {% if leave.includes_med_note %}checked{% endif %}> <label for="i_note">Medical note</label></div>
                    <div><input type="checkbox" id="i_letter" name="i_letter" value="True" {% if leave.includes_letter %}checked{% endif %}> <label for="i_letter">Admission letter</label></div>
                </div>

                <div class="lvt767">
                    <button type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}